@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 9px 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.content {
  text-align: center;
  min-height: 79%;

}



ul {
  /*this removes the dots on the lists items*/
  list-style-type: none;
  margin: 0;
  padding: 8px;
}

li {
  float: left;
}

a {
  font-size: 14px;
  color: rgb(114, 109, 109);
  padding: 10px;
  /* this removes the line under the links */
  text-decoration: none;
}

.footer{
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between
}